{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 80,
  "importOrder": ["^@ui/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": ["*.{js,mjs,cjs,jsx}"],
      "options": {
        "parser": "oxc"
      }
    },
    {
      "files": ["*.{ts,mts,cts,tsx}"],
      "options": {
        "parser": "oxc-ts"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports",
    "@prettier/plugin-oxc"
  ]
}
